body {
    display: flex;
    justify-content: center;
    padding: 200px;
    background-color:blanchedalmond

}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: solid 20px black;
    border-radius: 15px;
    grid-gap: 15px;
    background-color: black;
    grid-template-areas:
        "header header header header"
        "AC AC first sidebar"
        "two two two sidebar"
        "three three three sidebar"
        "four four four sidebar"
        "zero zero five sidebar"

}

.display {
    grid-area: header;
    font-size: 30px;
    height: 75px;
    background-color: rgba(226, 226, 226, 0.87);
    text-align: right;
    border-radius: 5px;
}

.all-clear {
    grid-area: AC;
}

.row-one {
    grid-area: first;
}

.row-two {
    grid-area: two;
}

.row-three {
    grid-area: three;
}

.row-four {
    grid-area: four;
}

.row-five {
    grid-area: five;
}

#zero {
    grid-area: zero;
}

#divide #multiply #subtract #add {
    grid-area: sidebar;
}

button {
    border-radius: 5px;
}